body {
  background-color: royalblue;
}

header {
  background-color: peachpuff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.top-bar {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
}

.top-bar .input-name-group {
  align-items: flex-start;
  display: flex;
}

.top-bar .input-terms-group {
  align-items: flex-start;
  display: flex;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  background-color: white;
  border: 2px solid rgb( 96 , 125 , 139 );
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color: rgb( 0 , 204 , 0 );
  border: 2px solid black;
  border-radius: 3px;
  cursor: pointer;
  margin: 0;
  padding: 5px;
}

.cart {
  background-color: white;
  border: 2px solid rgb( 96 , 125 , 139 );
  border-radius: 5px;
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
  height: fit-content;
  padding: 10px;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
  margin-bottom: 10px;
  text-align: center;
}

.empty-cart {
  background-color: rgb( 31 , 195 , 104 );
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  padding: 5px;
  width: 200px;
}

.cart__item {
  cursor: pointer;
  margin-bottom: 10px;
}

.cart__item:hover {
  background-color: gainsboro;
}

.price-container {
  display: flex;
}

.total-price {
  margin-left: 5px;
}

.loading {
  color: white;
  font-size: 2em;
}
