.body-builder {
  background-color: rgb(230, 230, 230);
  font-family: Arial, Helvetica, sans-serif;
}

.top-bar {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
}

.top-bar .input-name-group {
  align-items: flex-start;
  display: flex;
}

.top-bar .input-terms-group {
  align-items: flex-start;
  display: flex;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  box-shadow: 4px 5px 8px rgb(121, 121, 121);
  width: 200px;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  background-color: white;
  border-radius: 8px 8px 0 0;
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color: rgb(60, 184, 60);
  border: 0;
  border-radius: 0 0 8px 8px;
  cursor: pointer;
  margin: 0;
  outline: none;
  padding: 10px;
}

.cart {
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
}

.cart .cart__title {
  color: #333;
  flex-basis: 1;
  font-size: 20pt;
  margin: 20px 0;
  text-align: center;
}

.cart .btn-cart {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  padding-top: 10px;
}

.cart .empty-cart {
  background-color: rgb(180, 50, 50);
  border: none;
  border-radius: 6px;
  color: rgb(240, 250, 240);
  cursor: pointer;
  outline: none;
  padding: 8px;
  width: 300px;
}

.loading {
  display: flex;
  flex-direction: column;
  align-content: center;
}
